
        /* margins and padding made for 75% chrome browser view */

        body {
            
            background-image: linear-gradient(chartreuse, rgb(170, 59, 250));
        }

        p {
            font-size: 1.2rem;
            font-family: Arial, Helvetica, sans-serif;
        }

        header {
            font-size: 8rem;
            color: rgb(12, 77, 82);
            text-align: center;
            margin-left: 0px;
            margin-right: 0px;
        }

        .intro {
            border-width: thick;
            border-style: solid;
            border-color: aqua;
            padding: 100pt;
            padding-top: 25pt;
            padding-bottom: 25pt;
            margin-bottom: 20pt;
            margin-top: 10pt;
            margin-left: 50pt;
            margin-right: 300pt;
            background-color: darkcyan;
            color: rgb(255, 255, 255);
            
        }
        
        .sum {
            border-width: thick;
            border-style: solid;
            border-color: rgb(209, 61, 6);
            padding: 100pt;
            padding-top: 25pt;
            padding-bottom: 25pt;
            margin-bottom: 20pt;
            margin-top: 10pt;
            margin-left: 50pt;
            margin-right: 300pt;
            background-color: darkcyan;
            color: rgb(255, 255, 255);
        
        }

      .well {
        border-width: thick;
        border-style: solid;
        border-color: rgb(209, 61, 6);
        padding: 20pt;
        padding-top: 25pt;
        padding-bottom: 25pt;
        margin-bottom: 20pt;
        margin-top: 10pt;
        margin-left: 50pt;
        margin-right: 100pt;
        background-color: rgb(5, 5, 5);
        color: rgb(141, 220, 62);
      }
        

        

        ul {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
        }
        
        .unordered{

            border-width: thick;
            border-style: solid;
            border-color: rgb(247, 41, 5);
            padding: 30pt;
            padding-top: 25pt;
            padding-bottom: 25pt;
            margin-bottom: 20pt;
            margin-top: 10pt;
            margin-left: 200pt;
            margin-right: 650pt;    
            background-color: rgb(172, 19, 2);
            color: rgb(255, 255, 255);
            
            
            
        
        }

        ol {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
        }

        .ordered {
            
            border-width: thick;
            border-style: solid;
            border-color: rgb(5, 191, 247);
            padding: 30pt;
            padding-top: 25pt;
            padding-bottom: 25pt;
            margin-bottom: 20pt;
            margin-top: 10pt;
            margin-left: 600pt;
            margin-right: 250pt;
            background-color: rgb(39, 99, 211);
            color: rgb(255, 255, 255);
        }
        
        .review {

            border-width: 3px;
            border-style: dashed;
            border-color: rgb(132, 168, 245);
            border-radius: 25pt;
            padding: 100pt;
            padding-top: 25pt;
            padding-bottom: 25pt;
            margin-bottom: 20pt;
            margin-top: 10pt;
            margin-left: 175pt;
            margin-right: 175pt;
            background-color: rgb(245, 240, 176);
            color: rgb(58, 37, 197);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;           
        }

        .rev-title {
            text-align: center;
            background-color: rgb(150, 9, 250);
            border-radius: 35pt;
            color: aqua;
            padding: 20px;
        }

        .continued {
            text-align: center;
            border-width: 5px;
            border-style: dashed;
            border-color: rgb(89, 89, 89);
            border-radius: 25pt;
            padding: 100pt;
            padding-top: 25pt;
            padding-bottom: 25pt;
            margin-bottom: 20pt;
            margin-top: 10pt;
            margin-left: 175pt;
            margin-right: 175pt;
            background-color: rgb(208, 208, 208);
            color: rgb(36, 36, 36);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
        }
        

        
        